<caph-media id="player" class="player" subtitle="setting.subTitle" on-play="toggleIsPlaying(true)" on-pause="toggleIsPlaying(false)" on-ended="toggleIsPlaying(false)">
    <object id='av-player' type='application/avplayer'></object>
    <caph-media-controls control="mediaControls" class="controls-bar" ng-class="{'fade-out': !showMediaController}" ng-mouseover="setMediaControllerTimer()">
        <div class="opacity-panel">
            <div class="operations">
                <div class="btn-player" on-selected="mediaControls.togglePlay()">
                    <div class="btn-icon-player icon-caph" ng-class="{'icon-caph-pause': isPlaying, 'icon-caph-play': !isPlaying}"></div>
                </div>
            </div>
        </div>
        <div class="setting-panel">
            <div focusable="{depth: DEPTH.PLAYER, name: 'btnPlayerReturn'}" class="btn-player-setting" on-selected="back()">
                <div class="btn-icon-player-setting icon-caph icon-caph-return"></div>
            </div>
        </div>
    </caph-media-controls>
</caph-media>